{% extends "base.html.twig" %}


{% block page_content %}
    <div class="card my-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ asset("img/" ~ post.photoPath ) }}" class="img-fluid rounded-start" alt="{{ post.getPhotoDescription() }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Tenue proposée par {{ post.getUtilisateur().getLogin() }}</h5>
                    <p class="card-text">{{ post.getDescription() }}</p>
                    <ul class="list-group list-group-flush">
                    {% for item in post.getItems %}
                        <li class="list-group-item" class="card-text">{{ item.getCategory() }} {{ item.getBrand }} <a href="{{ item.getLink() }}"> disponible ici </a> </li>
                    {% endfor %}
                    </ul>
                    <div style="display: flex; justify-content: space-between">
                        <p class="card-text"><small class="text-muted">posté le {{ post.getDateFormated() }}</small></p>
                        <div>
                            <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                <img src="{{ asset("img/mail.png") }}" alt="Image" style="max-width: 30px">
                            </a>
                            <a href="{{ route("pdf_publication", {"idPublication" : post.getIdPublication()}) }}">
                                <img src="{{ asset("img/share.png") }}"  style="max-width: 20px">
                            </a>
                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <form action="{{ route("pdf_mail", {"idPublication" : post.getIdPublication()}) }}" method="post">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Envoi par mail</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="help-input-form">Veuillez insérer un mail yopmail.com</p>
                                                <input type="email" name="mail" placeholder="mail" required/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Envoyer</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

